@inherits RenderViewPage
@using Umbraco.Cms.Web;

<nav>
    <ul>
        @{
            var homePage = @Html.GetNodeWithName((object)DynamicModel, "home");
        }
        
        <li>
            <a href="@homePage.Url">@homePage.Name</a>
        </li>
        
        
        @foreach (var page in homePage.Children)
        { 
            <li>
            <a href="@page.Url">@page.Name</a>
            </li>
        }
    </ul>
</nav>
